body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
  display:flex;
}
#u442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:30px;
  width:719px;
  height:64px;
  display:flex;
}
#u444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u444_img.mouseOver {
}
#u444.mouseOver {
}
#u444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:91px;
  height:60px;
  display:flex;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:35px;
  width:36px;
  height:30px;
  display:flex;
  opacity:0;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:48px;
  width:48px;
  height:24px;
  display:flex;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u448_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u448_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u448_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u448_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:39px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u448_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u448.hint {
}
#u448_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u448.disabled {
}
#u448_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u448.hint.disabled {
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:44px;
  width:65px;
  height:39px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u450_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u450_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u450_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:49px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u450.hint {
}
#u450_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u450.disabled {
}
#u450_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u450.hint.disabled {
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:39px;
  width:88px;
  height:50px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:103px;
  width:719px;
  height:64px;
  display:flex;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_img.mouseOver {
}
#u453.mouseOver {
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:103px;
  width:91px;
  height:60px;
  display:flex;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u455_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u455_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u455_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:113px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u455.hint {
}
#u455_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u455.disabled {
}
#u455_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u455.hint.disabled {
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:116px;
  width:65px;
  height:39px;
  display:flex;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u457_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u457_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u457_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:122px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u457.hint {
}
#u457_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u457.disabled {
}
#u457_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u457.hint.disabled {
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:120px;
  width:37px;
  height:33px;
  display:flex;
  opacity:0;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:121px;
  width:48px;
  height:24px;
  display:flex;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:109px;
  width:88px;
  height:50px;
  display:flex;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:177px;
  width:719px;
  height:64px;
  display:flex;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u463_img.mouseOver {
}
#u463.mouseOver {
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:176px;
  width:91px;
  height:59px;
  display:flex;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u465_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u465_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u465_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:187px;
  width:207px;
  height:41px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u465.hint {
}
#u465_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u465.disabled {
}
#u465_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u465.hint.disabled {
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:189px;
  width:65px;
  height:39px;
  display:flex;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u467_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u467_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u467_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:194px;
  width:105px;
  height:27px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u467.hint {
}
#u467_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u467.disabled {
}
#u467_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u467.hint.disabled {
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:192px;
  width:48px;
  height:24px;
  display:flex;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:182px;
  width:88px;
  height:50px;
  display:flex;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:260px;
  width:719px;
  height:64px;
  display:flex;
  opacity:0.9;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_img.mouseOver {
}
#u471.mouseOver {
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:261px;
  width:91px;
  height:59px;
  display:flex;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:264px;
  width:36px;
  height:30px;
  display:flex;
  opacity:0;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:278px;
  width:48px;
  height:24px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u475_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u475_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u475_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:268px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u475.hint {
}
#u475_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u475.disabled {
}
#u475_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u475.hint.disabled {
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:273px;
  width:65px;
  height:39px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u477_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u477_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u477_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:279px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u477.hint {
}
#u477_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u477.disabled {
}
#u477_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u477.hint.disabled {
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:264px;
  width:88px;
  height:50px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:356px;
  width:19px;
  height:20px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:356px;
  width:19px;
  height:20px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(162, 209, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:344px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(162, 209, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:344px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:41px;
  height:20px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:335px;
  width:174px;
  height:55px;
}
#u484_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 231, 101, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u484_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
