body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:30px;
  width:719px;
  height:64px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_img.mouseOver {
}
#u489.mouseOver {
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:91px;
  height:60px;
  display:flex;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:35px;
  width:36px;
  height:30px;
  display:flex;
  opacity:0;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:44px;
  width:65px;
  height:39px;
  display:flex;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u493_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u493_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u493_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:49px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u493.hint {
}
#u493_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u493.disabled {
}
#u493_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u493.hint.disabled {
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:48px;
  width:48px;
  height:24px;
  display:flex;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u495_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u495_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u495_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:39px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u495.hint {
}
#u495_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u495.disabled {
}
#u495_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u495.hint.disabled {
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:35px;
  width:88px;
  height:50px;
  display:flex;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:260px;
  width:719px;
  height:64px;
  display:flex;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_img.mouseOver {
}
#u498.mouseOver {
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:261px;
  width:91px;
  height:60px;
  display:flex;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:265px;
  width:36px;
  height:30px;
  display:flex;
  opacity:0;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:278px;
  width:48px;
  height:24px;
  display:flex;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:274px;
  width:65px;
  height:39px;
  display:flex;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:280px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u503.hint {
}
#u503_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u503.disabled {
}
#u503_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u503.hint.disabled {
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:265px;
  width:88px;
  height:50px;
  display:flex;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u505_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u505_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u505_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:269px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u505.hint {
}
#u505_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u505.disabled {
}
#u505_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u505.hint.disabled {
}
#u506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:103px;
  width:719px;
  height:64px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_img.mouseOver {
}
#u507.mouseOver {
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:103px;
  width:91px;
  height:60px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:116px;
  width:65px;
  height:39px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u510_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u510_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u510_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:122px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u510.hint {
}
#u510_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u510.disabled {
}
#u510_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u510.hint.disabled {
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:121px;
  width:48px;
  height:24px;
  display:flex;
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u512_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u512_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u512_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:113px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u512_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u512.hint {
}
#u512_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u512.disabled {
}
#u512_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u512.hint.disabled {
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:109px;
  width:88px;
  height:50px;
  display:flex;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:73px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:177px;
  width:719px;
  height:63px;
  display:flex;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_img.mouseOver {
}
#u515.mouseOver {
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:176px;
  width:91px;
  height:59px;
  display:flex;
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:189px;
  width:65px;
  height:39px;
  display:flex;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u518_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u518_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u518_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u518_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:194px;
  width:105px;
  height:27px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u518_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u518.hint {
}
#u518_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u518.disabled {
}
#u518_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u518.hint.disabled {
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:192px;
  width:48px;
  height:24px;
  display:flex;
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u520_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u520_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u520_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:187px;
  width:207px;
  height:41px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u520_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u520.hint {
}
#u520_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u520.disabled {
}
#u520_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u520.hint.disabled {
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:182px;
  width:88px;
  height:50px;
  display:flex;
}
#u521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:356px;
  width:19px;
  height:20px;
  display:flex;
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:356px;
  width:19px;
  height:20px;
  display:flex;
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(162, 209, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:343px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(162, 209, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:343px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:41px;
  height:20px;
  display:flex;
}
#u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:335px;
  width:174px;
  height:55px;
}
#u527_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 231, 101, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u527_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u527_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
